.nav-item:hover {
  background-color:darkgreen;
}

.contact {
  margin: 70px;
}

h1 {
  padding-bottom: 30px;
}

header {
  border-bottom: solid 1.5px gray;
}

.active {
  background-color: green !important;
}

a:hover {
  color: black;
}

.btn {
  background-color: green !important;
}
